In [1]:
import numpy
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OrdinalEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split

In [2]:
data=pd.read_csv("UCI_Credit_Card.csv")

In [3]:
data.drop("ID", axis=1, inplace=True)

In [4]:
data

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,20000.0,2,2,1,24,2,2,-1,-1,-2,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,120000.0,2,2,2,26,-1,2,0,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,90000.0,2,2,2,34,0,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,50000.0,2,2,1,37,0,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,50000.0,1,2,1,57,-1,0,-1,0,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,220000.0,1,3,1,39,0,0,0,0,0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0
29996,150000.0,1,3,2,43,-1,-1,-1,-1,0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0
29997,30000.0,1,2,2,37,4,3,2,-1,0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1
29998,80000.0,1,3,1,41,1,-1,0,0,0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1
29999,50000.0,1,2,1,46,0,0,0,0,0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1

In [5]:
X=data.drop("default.payment.next.month",axis=1)

In [6]:
Y=data["default.payment.next.month"]

In [7]:
X

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,20000.0,2,2,1,24,2,2,-1,-1,-2,...,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0
1,120000.0,2,2,2,26,-1,2,0,0,0,...,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0
2,90000.0,2,2,2,34,0,0,0,0,0,...,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0
3,50000.0,2,2,1,37,0,0,0,0,0,...,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0
4,50000.0,1,2,1,57,-1,0,-1,0,0,...,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,220000.0,1,3,1,39,0,0,0,0,0,...,208365.0,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0
29996,150000.0,1,3,2,43,-1,-1,-1,-1,0,...,3502.0,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0
29997,30000.0,1,2,2,37,4,3,2,-1,0,...,2758.0,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0
29998,80000.0,1,3,1,41,1,-1,0,0,0,...,76304.0,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0
29999,50000.0,1,2,1,46,0,0,0,0,0,...,49764.0,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0

In [8]:
Y

0        1
1        1
2        0
3        0
4        0
        ..
29995    0
29996    0
29997    1
29998    1
29999    1
Name: default.payment.next.month, Length: 30000, dtype: int64

In [9]:
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.30,random_state=30)

In [10]:
X_train

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
777,20000.0,1,2,2,26,-1,-1,-1,-1,-2,...,451.0,-810.0,-420.0,1320.0,1261.0,451.0,0.0,780.0,2130.0,0.0
5436,150000.0,1,1,1,41,1,-2,-1,-1,-1,...,1600.0,5431.0,0.0,0.0,0.0,1800.0,5431.0,0.0,0.0,0.0
19260,250000.0,2,1,2,29,2,2,2,2,2,...,125721.0,122209.0,126129.0,127847.0,5900.0,4500.0,0.0,5954.0,3900.0,4826.0
2643,360000.0,1,1,1,39,1,-2,-2,-2,-1,...,0.0,0.0,691.0,7020.0,0.0,0.0,0.0,691.0,7020.0,0.0
26905,280000.0,1,2,1,44,0,0,0,0,0,...,122611.0,119023.0,113754.0,115029.0,7822.0,4529.0,4238.0,4305.0,4208.0,4003.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,30000.0,2,2,1,38,0,0,0,0,2,...,22537.0,24161.0,25128.0,24576.0,2000.0,1500.0,2000.0,1500.0,0.0,1200.0
12077,230000.0,2,2,1,32,-1,0,0,0,0,...,2720.0,3720.0,0.0,0.0,1046.0,1000.0,1000.0,0.0,0.0,44752.0
15277,260000.0,2,2,1,32,0,0,0,0,0,...,102369.0,80488.0,82150.0,84818.0,5300.0,3500.0,3000.0,3000.0,4000.0,4000.0
4517,50000.0,1,1,2,38,-1,-1,-1,-1,-1,...,390.0,390.0,390.0,5010.0,390.0,390.0,390.0,390.0,5010.0,390.0
5925,290000.0,2,2,1,53,-1,-1,-1,-1,-1,...,1440.0,1017.0,3798.0,4898.0,199.0,1440.0,1017.0,3798.0,4898.0,5034.0

In [11]:
y_train

777      0
5436     0
19260    1
2643     0
26905    0
        ..
500      0
12077    0
15277    0
4517     1
5925     0
Name: default.payment.next.month, Length: 21000, dtype: int64

In [12]:
X_test

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
7707,20000.0,1,2,1,37,0,0,0,0,2,...,10944.0,11280.0,11011.0,7755.0,2248.0,1500.0,757.0,0.0,430.0,1000.0
17433,210000.0,2,2,2,45,1,-2,-2,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15668,410000.0,1,1,2,27,0,-1,-1,0,-1,...,15678.0,40512.0,17884.0,34251.0,16090.0,16076.0,40203.0,17974.0,34518.0,369.0
21926,210000.0,2,1,2,29,-2,-2,-2,-2,-2,...,-3.0,-3.0,650.0,1850.0,0.0,0.0,0.0,653.0,1859.0,1411.0
28353,170000.0,2,1,2,39,0,0,0,0,0,...,21660.0,23307.0,15135.0,3527.0,5011.0,5000.0,6538.0,4167.0,3527.0,7521.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9266,220000.0,1,1,1,39,0,0,0,0,0,...,12372.0,4610.0,3668.0,-809.0,2017.0,3000.0,1000.0,0.0,0.0,3000.0
19046,330000.0,2,1,1,39,0,0,0,0,0,...,48123.0,50195.0,51942.0,55963.0,4000.0,3000.0,3000.0,3000.0,5000.0,2000.0
24349,20000.0,1,2,2,32,0,0,0,0,0,...,15468.0,11082.0,11303.0,10768.0,1700.0,1488.0,1172.0,393.0,415.0,616.0
27903,90000.0,2,3,2,23,0,0,-1,-1,0,...,21836.0,11036.0,29836.0,986.0,30000.0,30000.0,11036.0,19836.0,986.0,21615.0
24700,280000.0,1,2,2,47,0,0,0,0,0,...,78544.0,63106.0,63465.0,64031.0,4004.0,3504.0,3204.0,2304.0,2504.0,2304.0

In [13]:
y_test

7707     0
17433    0
15668    0
21926    0
28353    0
        ..
9266     0
19046    0
24349    0
27903    0
24700    0
Name: default.payment.next.month, Length: 9000, dtype: int64

In [14]:
preprocessing=StandardScaler()

In [15]:
preprocessing.fit_transform(X_train)

array([[-1.13900338, -1.23108594,  0.18989225, ..., -0.26222501,
        -0.16991997, -0.28995798],
       [-0.13853957, -1.23108594, -1.07605611, ..., -0.31394799,
        -0.3050631 , -0.28995798],
       [ 0.63104798,  0.81229098, -1.07605611, ...,  0.08087074,
        -0.05761794, -0.02196538],
       ...,
       [ 0.70800674,  0.81229098,  0.18989225, ..., -0.11501346,
        -0.05127319, -0.06783399],
       [-0.90812712, -1.23108594, -1.07605611, ..., -0.2880865 ,
         0.01280876, -0.26830089],
       [ 0.938883  ,  0.81229098,  0.18989225, ..., -0.06209688,
         0.00570264, -0.01041494]])

In [16]:
preprocessing.transform(X_test)

array([[-1.13900338, -1.23108594,  0.18989225, ..., -0.31394799,
        -0.27778068, -0.23442698],
       [ 0.32321296,  0.81229098,  0.18989225, ..., -0.31394799,
        -0.3050631 , -0.28995798],
       [ 1.86238806, -1.23108594, -1.07605611, ...,  0.87793508,
         1.88501685, -0.26946704],
       ...,
       [-1.13900338, -1.23108594,  0.18989225, ..., -0.28788757,
        -0.27873239, -0.25575088],
       [-0.6002921 ,  0.81229098,  1.45584062, ...,  1.00140712,
        -0.24250389,  0.91034453],
       [ 0.86192425, -1.23108594,  0.18989225, ..., -0.16116627,
        -0.14619062, -0.16201456]])

In [17]:
X_train=pd.DataFrame(preprocessing.fit_transform(X_train),columns=preprocessing.get_feature_names_out())
X_test=pd.DataFrame(preprocessing.transform(X_test),columns=preprocessing.get_feature_names_out())

In [18]:
preprocessing=StandardScaler()

In [19]:
X_train

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,-1.139003,-1.231086,0.189892,0.855242,-1.031921,-0.872883,-0.720412,-0.694606,-0.665419,-1.532938,...,-0.667972,-0.683707,-0.669670,-0.629882,-0.259967,-0.219680,-0.284034,-0.262225,-0.169920,-0.289958
1,-0.138540,-1.231086,-1.076056,-1.060909,0.599775,0.901613,-1.558100,-0.694606,-0.665419,-0.647261,...,-0.651531,-0.586762,-0.662746,-0.652089,-0.333370,-0.166585,0.008592,-0.313948,-0.305063,-0.289958
2,0.631048,0.812291,-1.076056,0.855242,-0.705581,1.788862,1.792653,1.821359,1.910872,2.009769,...,1.124524,1.227215,1.416612,1.498716,0.010071,-0.060316,-0.284034,0.080871,-0.057618,-0.021965
3,1.477594,-1.231086,-1.076056,-1.060909,0.382216,0.901613,-1.558100,-1.533261,-1.524183,-0.647261,...,-0.674425,-0.671125,-0.651354,-0.533990,-0.333370,-0.237431,-0.284034,-0.268127,0.140338,-0.289958
4,0.861924,-1.231086,0.189892,-1.060909,0.926114,0.014365,0.117276,0.144049,0.193345,0.238416,...,1.080023,1.177725,1.212598,1.283075,0.121951,-0.059174,-0.055687,-0.028477,-0.038076,-0.067667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20995,-1.062045,0.812291,0.189892,-1.060909,0.273436,0.014365,0.117276,0.144049,0.193345,2.009769,...,-0.351942,-0.295819,-0.248487,-0.238640,-0.216949,-0.178393,-0.176273,-0.214481,-0.305063,-0.223321
20996,0.477130,0.812291,0.189892,-1.060909,-0.379242,-0.872883,0.117276,0.144049,0.193345,0.238416,...,-0.635504,-0.613340,-0.662746,-0.652089,-0.272482,-0.198072,-0.230154,-0.313948,-0.305063,2.195165
20997,0.708007,0.812291,0.189892,-1.060909,-0.379242,0.014365,0.117276,0.144049,0.193345,0.238416,...,0.790379,0.579140,0.691576,0.774827,-0.024855,-0.099675,-0.122392,-0.115013,-0.051273,-0.067834
20998,-0.908127,-1.231086,-1.076056,0.855242,0.273436,-0.872883,-0.720412,-0.694606,-0.665419,-0.647261,...,-0.668845,-0.665067,-0.656317,-0.567805,-0.310668,-0.222081,-0.263021,-0.288087,0.012809,-0.268301
20999,0.938883,0.812291,0.189892,-1.060909,1.905132,-0.872883,-0.720412,-0.694606,-0.665419,-0.647261,...,-0.653820,-0.655327,-0.600132,-0.569689,-0.321786,-0.180754,-0.229238,-0.062097,0.005703,-0.010415

In [20]:
X_test

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,-1.139003,-1.231086,0.189892,-1.060909,0.164656,0.014365,0.117276,0.144049,0.193345,2.009769,...,-0.517827,-0.495906,-0.481219,-0.521625,-0.202513,-0.178393,-0.243247,-0.313948,-0.277781,-0.234427
1,0.323213,0.812291,0.189892,0.855242,1.034894,0.901613,-1.558100,-1.533261,-1.524183,-1.532938,...,-0.674425,-0.671125,-0.662746,-0.652089,-0.333370,-0.237431,-0.284034,-0.313948,-0.305063,-0.289958
2,1.862388,-1.231086,-1.076056,0.855242,-0.923141,0.014365,-0.720412,-0.694606,0.193345,-0.647261,...,-0.450088,-0.041830,-0.367911,-0.075875,0.603235,0.395304,1.882136,0.877935,1.885017,-0.269467
3,0.323213,0.812291,-1.076056,0.855242,-0.705581,-1.760132,-1.558100,-1.533261,-1.524183,-1.532938,...,-0.674468,-0.671172,-0.652030,-0.620966,-0.333370,-0.237431,-0.284034,-0.270647,-0.187114,-0.211604
4,0.015378,0.812291,-1.076056,0.855242,0.382216,0.014365,0.117276,0.144049,0.193345,0.238416,...,-0.364491,-0.309084,-0.413231,-0.592753,-0.041678,-0.040636,0.068238,-0.037628,-0.081284,0.127691
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8995,0.400172,-1.231086,-1.076056,-1.060909,0.382216,0.014365,0.117276,0.144049,0.193345,0.238416,...,-0.497393,-0.599515,-0.602276,-0.665699,-0.215960,-0.119354,-0.230154,-0.313948,-0.305063,-0.123365
8996,1.246718,0.812291,-1.076056,-1.060909,0.382216,0.014365,0.117276,0.144049,0.193345,0.238416,...,0.014170,0.108582,0.193568,0.289392,-0.100529,-0.119354,-0.122392,-0.115013,0.012174,-0.178896
8997,-1.139003,-1.231086,0.189892,0.855242,-0.379242,0.014365,0.117276,0.144049,0.193345,0.238416,...,-0.453093,-0.498982,-0.476405,-0.470936,-0.234412,-0.178865,-0.220886,-0.287888,-0.278732,-0.255751
8998,-0.600292,0.812291,1.455841,0.855242,-1.358260,0.014365,0.117276,-0.694606,-0.665419,0.238416,...,-0.361972,-0.499697,-0.170871,-0.635501,1.412941,0.943338,0.310594,1.001407,-0.242504,0.910345
8999,0.861924,-1.231086,0.189892,0.855242,1.252453,0.014365,0.117276,0.144049,0.193345,0.238416,...,0.449466,0.309136,0.383536,0.425122,-0.100296,-0.099517,-0.111400,-0.161166,-0.146191,-0.162015

In [21]:
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neural_network import MLPClassifier

In [22]:
models = {
    'Logistic Regression': LogisticRegression(max_iter=1000),
    'Decision Tree': DecisionTreeClassifier(),
    'Random Forest': RandomForestClassifier(),
    'SVM': SVC(),
    'KNN': KNeighborsClassifier(),
    'Naive Bayes': GaussianNB(),
    'Gradient Boosting': GradientBoostingClassifier(),
    'Neural Network': MLPClassifier(max_iter=1000)
}

In [23]:
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [24]:
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
import numpy as np

In [25]:
for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    mae, rmse, r2_square=evaluate_model(y_test,y_pred)
    print("mae:-",mae,"rmse:-",rmse,"r2_square:-",r2_square)
    print(f'{name} Accuracy: {accuracy:.4f}')
    print("\n")
    print("\n")

mae:- 0.186 rmse:- 0.4312771730569565 r2_square:- -0.10164563892814682
Logistic Regression Accuracy: 0.8140




mae:- 0.2732222222222222 rmse:- 0.5227066311251678 r2_square:- -0.6182476858568178
Decision Tree Accuracy: 0.7268




mae:- 0.18344444444444444 rmse:- 0.4283041494597553 r2_square:- -0.08650952799902645
Random Forest Accuracy: 0.8166




mae:- 0.17844444444444443 rmse:- 0.4224268509984237 r2_square:- -0.05689539792031284
SVM Accuracy: 0.8216




mae:- 0.20322222222222222 rmse:- 0.4508017549014447 r2_square:- -0.20364986475482705
KNN Accuracy: 0.7968




mae:- 0.376 rmse:- 0.6131883886702356 r2_square:- -1.2269825819192643
Naive Bayes Accuracy: 0.6240




mae:- 0.17733333333333334 rmse:- 0.42110964526276684 r2_square:- -0.05031448012504325
Gradient Boosting Accuracy: 0.8227




mae:- 0.18977777777777777 rmse:- 0.4356349134054544 r2_square:- -0.1240207594320637
Neural Network Accuracy: 0.8102